<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <title>Student Tracker</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Enter Your Roll Number and Password</h1>
        <form action="">
            <input type="text" placeholder="Roll Number" name="rollNumber" id='name' type="text" >
            <input type="password" placeholder="Password" name="Password" id='password' type="password">
            <button class="btn btn-primary"> Perform the Magic </button>
            <div id="content"></div>
        </form>
    </div>
</body>
<script src="./js/app.js"></script>
</html>