<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Student Tracker</title>
</head>
<body>
    <section class="hero">
        <div class="row">
            <div class="col-6">
                <img src="./images/hero.png" class="w-100" alt="">
            </div>
            <div class="col-6">
                <img src="./images/vision.png" class="w-100" alt="">
            </div>
        </div>
        
    </section>
    <div class="container mt-5 text-center">
        <h1>Enter Your Roll Number and Password</h1>
        <form action="" class="w-50 m-auto">
            <div class="mb-3">
                <label for="rollNumber" class="form-label">Roll Number</label>
                <input type="text" placeholder="Roll Number" name="rollNumber" id='name' type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="Password" class="password" aria-colspan="form-label"> Password </label>
                <input type="password" placeholder="Password" name="Password" id='password' type="password" class="form-control">
                <p class="form-text">Your credentials are not shared with anyone</p>
            </div>
            <button class="btn btn-primary" > Perform the magic </button>
        </form>
    </div>
    <p id="error"></p>
    <div id="team" class="container mt-5">
        <h3 class="text-center">Fetching Your Details.In the mean while take a look at our team</h3>
        <img src="./images/team.png" class="w-100">
    </div>
    <div class="content my-5">
        <div class="container">
            <div class="row " id="attendance-row">
                {{!-- Data from app.js // client side JS --}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <section class="vision">
                <img src="./images/services.png" class="w-100" alt="">
            </section>
        </div>
        <div class="col-6">
            <section class="thankYou">
                <img src="./images/thankyou.png" class="w-100" alt="">
            </section>
        </div>
    </div>
</body>
<script src="./js/app.js"></script>
</html>