.attendance-card{
    background-color: #ff4d4d;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
}
.attendance-card:hover{
    transform: scale(1.05);
}
.number-of-days{
    font-size: 21px;
    background: white;
    color: black;
    width: 29px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}
#error{
    color: red;
    text-align: center;
}
#team{
    display: none;
}
#attendance-row{
    display: none;
}